html,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
del,
em,
img,
small,
strong,
ol,
ul,
li,
label,
table {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
    height: 100%
}

body {
    position: relative;
    font: normal 16px/1.7em "Inter", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #ddd;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

h1 {
    font-style: normal;
    font-size: 45px;
    font-weight: normal;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

a {
    color: #c44736
}

a:hover {
    color: #b84336
}

p {
    margin-bottom: 1.4em
}

.site_header {
    padding: 15px 25px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #a5acbb;
    display: flex;
    box-sizing: border-box;
}

.site_header p {
    margin: 0;
}

.site_header .menu {
    display: none;
}

.site_header .right {
    flex: 1 1;
    text-align: right;
}

.site_content {
    box-sizing: border-box;
    padding: 25px;
    max-width: 1280px;
    margin: 0 auto;
}

.full_height {
    height: 100vh;
    padding-top: 58px;
}

.site_header + .site_content.full_height {
    display: flex;
    max-width: 100%;
}

.site_header + .site_content .content {
    margin: auto;
    text-align: center;
    line-height: 1.3;
}

.site_content:nth-child(odd) {
    background: #422452;
}

.site_footer {
    box-sizing: border-box;
    padding: 25px;
    max-width: 1280px;
    margin: 0 auto;
    background: #422452;
    word-break: keep-all;
}

.site_footer h2 {
    margin-top: 46px;
}

.site_footer span {
    display: inline-block;
}

.footer_col {
    max-width: 640px;
}

.social {
    margin-bottom: 0.5em;
    color: #fff;
    display: flex;
}

.social a {
    color: #fff;
    position: relative;
    line-height: 32px;
    font-size: 32px;
}

.social a + a {
    margin-left: 0.5em;
}

.social svg {
    width: 32px;
    color: #fff;
}